# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
tmpclaude-0111-cwd tmpclaude-053a-cwd tmpclaude-05a9-cwd tmpclaude-091b-cwd tmpclaude-0e7c-cwd tmpclaude-1fcc-cwd tmpclaude-3558-cwd tmpclaude-429e-cwd tmpclaude-44a5-cwd tmpclaude-468d-cwd tmpclaude-4ab2-cwd tmpclaude-4abc-cwd tmpclaude-6110-cwd tmpclaude-614a-cwd tmpclaude-61e9-cwd tmpclaude-65f2-cwd tmpclaude-67a7-cwd tmpclaude-67a8-cwd tmpclaude-744d-cwd tmpclaude-7c44-cwd tmpclaude-886d-cwd tmpclaude-9121-cwd tmpclaude-917a-cwd tmpclaude-9249-cwd tmpclaude-9db9-cwd tmpclaude-a9e4-cwd tmpclaude-b03c-cwd tmpclaude-b1df-cwd tmpclaude-b25b-cwd tmpclaude-b402-cwd tmpclaude-c02a-cwd tmpclaude-c7a1-cwd tmpclaude-c84d-cwd tmpclaude-ca61-cwd tmpclaude-cd09-cwd tmpclaude-d058-cwd tmpclaude-dbb9-cwd tmpclaude-dd3c-cwd tmpclaude-ef93-cwd tmpclaude-f742-cwd tmpclaude-f999-cwd
